<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(129, 45, 62);">
    <!-- <a class="navbar-brand" href="/">EJS Is Fun</a> -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/index" style="background-color: white;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="background-color: white;">About</a>
      </li>
    </ul>
  </nav>