<meta charset="UTF-8">
    <title> <%= title %> page of sample node app</title>
    
    <!-- Twitter opensource Bootstarp CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; color: rgb(0, 60, 255)}
    </style>