<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('../layouts/head'); %>
</head>

<body class="container" style="background-color: rgb(156, 110, 96);">
    <header>
      <%- include('../layouts/header'); %>
    </header>

    <main>
      <div class="jumbotron">
            
        <h1>This is a sample application. It has been created using NodeJS, Expressjs and EJS.</h1>
        <p></p>
        <p>/createTable</p>
        <p>/insertData</p>
        <p>/updateData</p>
        <p>/readData</p>
        <p>/deleteItem</p>
        <p>/deleteTable</p>
    </div>
    
    </main>
        
    <footer>
      <%- include('../layouts/footer'); %>
    </footer>
</body>

</html>